.app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  .todo-list {
    list-style-type: number;
  }
}
.dropzone {
  border: 2px dashed #000;
  border-radius: 3px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 20px 0;
  &.active,
  &:hover {
    border-color: blue;
  }
  p {
    margin: 0;
  }
  .link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  &.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 37.5px 0;
    i {
      margin: 0;
      height: auto;
      transition: 0.4s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
